<h1 id="title">Hello Rails</h1>
<p id="subtitle">my first rails app</p>


<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>
